a{
    padding: 4px 10px;
}

h2{
    margin: 8px 6px auto 2px;
}

header{
    z-index: 99;
    color:bisque;
    position: fixed;
    background-color:blue;
    top:0px;
    left:0px;
    right:0px;    
    
}

ul li{
    display:block;
}
.container{
    position:absolute;
    top:100px;
}
